<div class="container">
<br>
<div class="card bg-secondary text-white">
   <h3>Total User</h3>
   <div class="card-body"><%= User.count %></div>
</div>
<div class="row">
<div class="col-lg-14">
<div class="ibox ">
<div class="ibox-content table-responsive" >
<table class="table table-hover no-margins">
<table class="table">
<table class="table table-hover">
   <thead class="thead-dark">
      <tr>
         <th scope="col">ID</th>
         <th scope="col">Name</th>
         <th scope="col">Email</th>
         <th scope="col">Action</th>
      </tr>
   </thead>
   <tbody>
      <%@users.each do |u| %>
      <tr>
         <th scope="row"><%= u.id %></th>
         <td><%= u.name %></td>
         <td><%= u.email %></td>
         <td ><%= link_to "Edit", users_edit_path(id:u.id)%>&#160;&#160;&#160;
            <%= link_to "Destroy",  users_destroy_path(u.id), data: {
               turbo_method: :delete,
               turbo_confirm: "Are you confirm?"
               } %> </th> 
      </tr>
      <% end %>    
   </tbody>
</table>